@mixin flex-container(){
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
 
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

@mixin flex-child(){
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}