//globals 
$font-stack:   'Open Sans', 'Arial', sans-serif;
$primary: #000;
$secondary: #026A96;//blue
$secondary-on-primary: #4C97DB;//light blue
$primary-light: #353535; //dark gray
$primary-med: #9299A5; //Md. Grey
$primary-med-light: #D3DADD; //gray
$primary-lightest: #EDF4F7; //whitesmoke

$white:#fff;

$alert-color: #047878;//teal

$red: #EE8C6D;
$yellow: #F2C612;

$borders: #DBE1E3;
$callouts: #EDF4F7;