//globals 
$font-stack:   'Open Sans', 'Arial', sans-serif;
$primary: #000;

$secondary: #027EA4;//blue
$secondary-on-primary: #4C97DB;//light blue
$primary-light: #353535; //dark gray
$primary-med: #9299A5; //Md. Grey
$primary-med-light: #D3DADD; //gray
$primary-lightest: #EDF4F7; //whitesmoke
$gray: #353535;

$white:#fff;

$alert-color: #047878;//teal

$red: #EE8C6D;
$yellow: #F2BA13;

$borders: #DBE1E3;
$callouts: #F1F3F1;