@import url(http://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans:400,700);

$font-stack:   'Open Sans', 'Arial', sans-serif;
$primary-color: #000;
$secondary-color: #F2C612;//yellow
$primary-light: #353535; //dark gray
$alert-color: #047878;//teal
body{
    background:#fff;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font: 100% $font-stack;
    color: $primary-light;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight:700;
    text-transform: uppercase;
}
h1 {
    font-size: 1.750em;
}
h2 {
    font-size: 1.250em;
}
h3 {
    font-size: 1em;
}
h4{
    font-size: 0.875em;
}
h5 {
    font-size:0.750em;
}