@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,700);

@import 'variables';
@import 'mixins';
@import 'layout';
@import 'modules';
@import 'pure';
@import 'home';

body{
    background:#fff;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font: 100% $font-stack;
    //color: $primary-light;
    letter-spacing: normal;
}
a:link, a:visited{
    color:$secondary;
    text-decoration: none;
    font-weight:700;
}
a:hover, a:active {
    color:$primary-light;
}
.l-box {
    padding: 1em .5em;
}
.pure-g > div, 
.pure-g > nav, 
.pure-g > ol, 
.pure-g > ul, 
.pure-g > aside, 
.pure-g > footer, 
.pure-g > header{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    //using extend here, so as not to add another class to ever grid-u
    @extend .l-box;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight:700;
    text-transform: uppercase;
}
h1, .h1 {
    font-size: 1.750em;
}
h2, .h2 {
    font-size: 1.250em;
}
h3, .h3 {
    font-size: 1em;
}
h4, .h4{
    font-size: 0.875em;
}
h5, .h5 {
    font-size:0.750em;
}
.site-header {
    background-color: $primary;
    color: $white;
}
#masthead > .container {
    padding:0 1em;
}
.accessible, .screen-reader-text {	
    position: absolute;
	left: -99999px;
	height: 10px;
	width: 10px;
}

a.skip-link {
    @extend .accessible;
}

#breadcrumbs {
    ul {
        list-type:none;
        margin: 0;
        padding:0;
    }
    li {
        display:inline;
    }
    li::after {
        content:" / ";
    }
    li:last-child::after{
        content:"";
    }
}
.entry-content > div {
    margin:0 20px 0 0;
}


.float-left {
    float:left;
}
.float-right {
    float:right;
}
.group:after {
  content: "";
  display: table;
  clear: both;
}
