@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,700);

@import 'variables';
@import 'layout';
@import 'modules';
@import 'home';
@import 'swifttype';

.l-box {
    padding: 1em .5em;
}
.top-bottom-pad {
    padding: 1em 0;
}


.home .site-header {
        background:url("../img/city-of-philadelphia-home-mobile@2x.png") no-repeat scroll 40% 20px / 35% auto $white;

    @media screen and (min-width: 360px){
        background:url("../img/city-of-philadelphia-home-mobile@2x.png") no-repeat scroll 35% 20px / 35% auto $white;

    }
    @media screen and (min-width: 400px){
        background:url("../img/city-of-philadelphia-home-mobile@2x.png") no-repeat scroll 30% 10px / 35% auto $white;

    }
    @media screen and (min-width: 500px){
        background:url("../img/city-of-philadelphia-home-mobile@2x.png") no-repeat scroll 25% 5px / 35% auto $white;

    }
    @media screen and (min-width: 35.5em){
        background:$white;
    }
}
.site-header {
    color: $white;
    height: 75px;
    background: $white;
    background: $white;
}
.accessible, .screen-reader-text {
    position: absolute;
	left: -99999px;
	height: 10px;
	width: 10px;
}

a.skip-link {
  //  @extend .accessible;
}

#breadcrumbs {
    ul {
        list-type:none;
        margin: 0;
        padding:0;
    }
    li {
        display:inline;
    }
    li::after {
        content:" / ";
    }
    li:last-child::after{
        content:"";
    }
}
@media screen and (min-width: 35.5em){
    .entry-content > div {
        margin:0 20px 0 0;
    }
}

.float-left {
    float:left;
}
.float-right {
    float:right;
}
.group::after {
  content: "";
  display: table;
  clear: both;
}
.not-found button {
    display: none;
}
