.search-site {
    text-align:right;
}

footer.site-footer {
    background:$secondary;
    @extend .l-box;
}
footer a, footer a:visited {
    color:$white !important;
}

.site-branding{
    h1, h2{
        @extend .accessible;
    }
    img {
        height: 100px;
        width: auto;
    }
}

.department {
    text-align: center;
}

.search-site button {
    background:$secondary;
    background:$secondary;
    border: 1px solid $secondary;
}


.xsmall {
     font-size: 70%;
}

.small {
    font-size: 85%;
}

.large {
    font-size: 110%;
}

.xlarge {
    font-size: 125%;
}
.browse .topic, .departments .topic {
    clear:both;
    width:100%;
    height: auto;
    border-bottom: 1px solid $primary;
}

@media screen and (min-width: 35.5em){//568px & up
    .container {
        width:auto;
        margin-left:auto;
        margin-right:auto;
    }
}
@media screen and (min-width: 48em){ //768px & up
    .container {
       width:700px;
    }
}
@media screen and (min-width: 64em) { //1024px & up
    .container {
        width:960px;
    }
    .browse .topic, .departments .topic  {
        float:left;
        min-height: 400px;
        border-right:1px solid $primary;
        border-bottom: none;
        width:31%;
    }
}
@media screen and (min-width: 80em) {//1280 & up
    .container {
        width:1170px;
    }
}