.search-site {
    text-align:left;
    margin: 6px 0 0 0;
   
    @media screen and (min-width: 35.5em){
        text-align:right;
        margin:.7em 0 0 0;
    }
    
    button {
        background:$secondary;
        background:$secondary;
        border: 1px solid $secondary;
        padding: .66em;
        display: none;
        
        @media screen and (min-width: 35.5em){
            display: inline-block;
        }
        
    }
    .pure-form label, .pure-form input[type="search"] {
        display: inline-block;
    }
    
}

footer.site-footer {
    background:$secondary;
    width:100%;
    
    li{
        display: inline-block;
        padding:0 0 0 10px;
    }
    nav ol {
        float:right;
    }
    nav ul {
        display: block !important;
    }
    
}
footer a, footer a:visited {
    color:$white !important;
}

.site-branding{
    h1, h2{
        @extend .accessible;
    }
    img {
        height: 50px;
        margin-top:13px;
        
        @media screen and (min-width: 35.5em){
            width: auto;
            height: 75px;
            margin-top:0;
        }
    }//img
    
}//.site-branding
.department {
    text-align: center;
}

.xsmall {
     font-size: 70%;
}

.small {
    font-size: 85%;
}

.large {
    font-size: 110%;
}

.xlarge {
    font-size: 125%;
}
.departments .topic {
    clear:both;
    width:100%;
    height: auto;
    border-bottom:1px solid $primary;
}

/*
 *
 * font-stack utilities 
 * 
*/
.fa-stack-2x {
    font-size: 1.8em;
}
.fa-3x {
    font-size: 2em;
}
@media screen and (min-width: 35.5em){
    .fa-3x {
        font-size: 3em;
    }
}
@media screen and (min-width: 48em){ 
    .fa-3x {
        font-size: 2em;
    }
}
@media screen and (min-width: 64em) {
    .fa-3x {
        font-size: 3em;
    }
}

/*
 *
 * container 
 * 
*/
.container {
    width:100%;
    position: relative;
    @extend .group;   
}

@media screen and (min-width: 35.5em){
    .container {
        margin-left:auto;
        margin-right:auto;
    }
}
@media screen and (min-width: 48em){ //768px & up
    .container {
       width:700px;
    }
}
@media screen and (min-width: 64em) { //1024px & up
    .container {
        width:960px;
    }
}
@media screen and (min-width: 80em) {//1280 & up
    .container {
        width:1000px;
    }
}

/*
 *
 * padding boxes 
 * 
*/
.s-box{
    padding:1em;
}
.s-box-right {
    padding:0;
}
.s-box-middle{
    padding:1em 0;
}
.s-box-left{
    padding:1em 0 1em 1em;
}

.m-box{
    padding:1.5em;
}

@media screen and (min-width: 35.5em){
    .m-box{
        padding:2em;
    }
    .s-box-right {
        padding:0 1.5em 1.5em 0;
    }
    .s-box-middle{
        padding:1em 0;
    }
    .s-box-left{
        padding:1em 0 1em 1em;
    }  
}
/*
 *
 * hidden utilities 
 * 
*/
.hidden-xs{
    display:none;
}
.visible-xs{
    display: block;
}

@media screen and (min-width: 35.5em){    //small
    .hidden-sm{
         display:none !important;
    }
    .visible-xs{
        display:none;
    }
    .visible-sm, .hidden-xs{
        display: block;
    }
}
@media screen and (min-width: 48em){ //med
    .hidden-md{
         display:none !important;
    }
    .visible-xs, 
    .visible-sm{
        display:none;
    }
    .visible-md{
        display: block !important;
    }
    .hidden-xs, 
    .hidden-sm{
        display: block;
    }
}

@media screen and (min-width: 64em) { //1024px & up
    .hidden-lg{
        display: none !important;
    }
    
    .visible-xs{
        display:none;
    }
    .visible-lg{
        display: block !important;
    }
    .hidden-xs, .hidden-md{
        display: block;
    }
}
@media screen and (min-width: 80em) {//1280 & up
    .visible-xs{
        display:none;
    }
    .hidden-sm, .hidden-xs{
        display:block;
    }
    .visible-xl{
        display: block;
    }
}

//sidebar margin 

.container > #secondary {
    
    @media screen and (min-width: 48em){  
        width:23%;
        margin: 0 0 0 1%;
    }

}