/*
 *
 * ALPHA ALERT 
 * 
*/
.alpha-alert{
    background: #e18728;
    font-size: 80%;
    color: $white;
    min-height: 30px;
    
    .container {
        padding:.4em !important;
    }
    span {
        display: inline-block;
        margin:0 10px 0 0;
    }
    p {
        display:none;
        @media screen and (min-width: 35.5em){
            display: inline;
        }
    }
    
    a{
        text-transform: uppercase;
        margin:0 20px 0 0;
    }
    a:last-child{
        margin:0;
    }
    a:link, a:visited{
        color:$white;
    }
    a:hover, a:active{
        color:$primary;
    }
}

/*
 *
 * pages & posts h1s
 * 
 * 
*/

header.entry-header, header.page-header{
    background:$primary-lightest;
    position: relative;
    @extend .l-box;
}


/*
 *
 * nav
 * 
 * 
*/

nav ul{
    margin: 0 !important;
    padding:0 !important;
}

/*
 *
 * submit buttons
 * 
 * 
*/

button {
    position: relative;
    left: -4px;
    top:-1px;
    @extend .pure-button;
}

.pure-button, .pure-button-primary, a.pure-button-primary{
    background-color:$secondary;
    border: 1px solid $secondary;
    color:$white;
    @extend .h3;
}

a.pure-button:link, a.pure-button:visited{
    color:$white;
}
a.pure-button:hover, a.pure-button:active{
    background-color:$primary-light;
    border:1px solid $primary-light;
}


/*
 *
 * search forms
 * 
 * 
*/

.pure-form input[type="search"] {
    border:2px solid $secondary;
}

.search button{
    height: 42px;
}

/*
 *
 * external site pages
 * 
 * 
*/
.external-site a.pure-button::after{
    display: none;
}
    @media screen and (min-width: 35.5em){
        .external-site a.pure-button::after{
            content: "\f08b";
            font-family: 'FontAwesome';
            background: $primary;
            padding: 0.65em .9em;
            color: $secondary;
            position: relative;
            left: 16px;
            border-left: 1px solid $primary;
            -webkit-font-smoothing: antialiased;
            display: inline;
        }
    }
.external-site > .description{
    background-color:$callouts;
    border: 1px solid $borders;
    padding:3em;
}

.external-site > p {
    margin:2em 0 1em 0;
}
.external-site > a{
    margin:1em 0 2em 0;
}

/*
 *
 * service/information/department finder
 * 
 * 
*/

.topic {
    li.current-topic.current {
        background:#fff;
        border-left:10px solid $primary;
    }
    ul {
        padding:0;
        margin:0;
    }
  li.current-topic + ul.subtopics {
        background:$primary-lightest;
        padding: 10px 0;
    }
}
.browse {
    .results {
        margin: 40px 0 0 0;
        padding-left:40px;
    }
    .topics-nav{
        float:left;
        
        ul {
            padding: 10px 0 !important;
        }
    }
    
    .subtopic-select ul.subtopics{
        background:none !important;
    }

    .parent.current-topic a:hover{
        color:$primary;
    }
    
    li.parent.current-topic{
        font-size: 125%;
        margin:0 0 20px 0;
        padding:0;

        h3 {
            display: inline;
        }
    }//li.parent.current-topic
    
    li.parent.current-topic h3::before {
        display: inline;
    }
    .back-to-topic::before{
        content: "\f053";
        font-family: 'FontAwesome';
        padding: 0 5px 0 0;
        display: inline;
    }
}//browse
.browse li, .departments li {
    list-style: none;
    padding:10px;
    margin-right:10px;
}
.departments header h1, .browse header h1{
    margin:0 !important;
    padding:0 !important;
    font-size:1.3em;
    
    @media screen and (min-width: 35.5em){
        font-size: 1.75em;
    }
    
}

.parent-topics, 
.browse li h3, 
.departments li h3 {
    margin:0;
}
.browse nav.active, .departments nav.active{
    background:#ccc;
}
.browse nav, .archive.tax-topics #breadcrumbs {
    text-transform: capitalize;
}

#breadcrumbs li:first-child{
    text-transform: none !important;
}

#breadcrumbs {
    font-size:.8em;
}

.browse nav span, .departments nav span{
    font-weight: normal;
}

p.child-description, p.parent-description {
    padding: 0;
    margin: 0;
    font-weight: normal;
    text-transform: none;
}
.parent-description a {
    padding: 0;
    font-weight: normal;
}
.main-nav h4{
    margin: 0;
}
.detail {
    display: block;
    font-size: 80%;
}
.current {
    background:$primary-lightest;
}

.topics-nav {
    margin-right: 0;
    ul {
        background:$primary-lightest;
        margin:0 10px 0 0 !important;
    }
    li.current-topic {
        background:#fff;
        border-left:10px solid $primary;
    }
    
    a li:hover {
        border-left:10px solid $primary;
    }

    h2 {
        padding-left:10px;
    }

}

.results {
    
    #servinfo-list-container{
        margin: 0 10px;
    }
    h2 {
        margin:0 0 10px 0;
    }
    ul {
        margin:0;
        padding:0;
    }
}

.related{
    background:$primary-lightest;
    border: 1px solid $borders;
    
    h3 {
        margin: 0 0 10px 0;
    }
    ul {
        list-style: none;
        margin:0;
        padding:0;
    }
    
    a:link, a:visited {
        font-weight: 400;
    }
    li {
        margin-bottom: 20px;
        font-size:.8em;
    }
    li:last-child{
        margin-bottom: 0;
    }
}
/*
 *
 * search results page
 * 
 * 
*/

.search {
    .search-site {
        margin: 5px 0 0 0;
    }
    .search-head {
        background:$primary-med-light;
    }
    header{
        text-align: left;
        h1 {
            text-transform: none;
        }
    }
    label {
        width:89%;
    }
    input[type="search"] {
        width:100%;
    }
    .search-results {
        h1 {
            text-transform: uppercase;
            @extend .h3;
        }
        p {
            line-height: 1.5em;
            font-size: 90%;
        }
    }
}

