/* Page/posts h1 tags */

header.entry-header, header.page-header{
    text-align: center;
    background:$primary-lightest;
    position: relative;
    @extend .l-box;
}

header.entry-header::after, header.page-header::after{
	position: absolute;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid $primary-lightest;
    content: " ";
    bottom:-19px;
    margin-left:-19px;
}

.archive header.entry-header::after {
    display: none;
}

.archive header.entry-header {
    background:none;
    letter-spacing:normal;
    padding: 0;
}

/*submit buttons*/

button, .pure-button {
    position: relative;
    left: -4px;
    
    background-color:$secondary;
    border: 1px solid $secondary;
}

a.pure-button:link, a.pure-button:visited{
    color:$white;
}
a.pure-button:hover, a.pure-button:active{
    background-color:$primary-light;
    border:1px solid $primary-light;
}

/*external sites*/
.external-site a.pure-button::after{
    content: "\f08b";
    font-family: 'FontAwesome';
    background: $primary;
    padding: 0.71em 1em;
    color: $secondary;
    position: relative;
    left: 16px;
}

.external-site > p{
    background-color:$callouts;
    border: 1px solid $borders;
    padding:3em;
}