/* Page/posts h1 tags */

header.entry-header, header.page-header{
    text-align: center;
    background:$primary-lightest;
    position: relative;
    @extend .l-box;
}

header.entry-header::after, header.page-header::after{
	position: absolute;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid $primary-lightest;
    content: " ";
    bottom:-19px;
    margin-left:-19px;
}

.archive header.entry-header::after {
    display: none;
}

.archive header.entry-header {
    background:none;
    letter-spacing:normal;
    padding: 0;
}

/*submit buttons*/

button {
    position: relative;
    left: -4px;
    @extend .pure-button;
}

.pure-button, .pure-button-primary, a.pure-button-primary{
    background-color:$secondary;
    border: 1px solid $secondary;
    color:$white;
    @extend .h3;
}

a.pure-button:link, a.pure-button:visited{
    color:$white;
}
a.pure-button:hover, a.pure-button:active{
    background-color:$primary-light;
    border:1px solid $primary-light;
}

/*external sites*/
.external-site a.pure-button::after{
    content: "\f08b";
    font-family: 'FontAwesome';
    background: $primary;
    padding: 0.71em 1em;
    color: $secondary;
    position: relative;
    left: 16px;
}

.external-site > p{
    background-color:$callouts;
    border: 1px solid $borders;
    padding:3em;
}

.browse .topic {
    float:left;
    min-height: 400px;
    border-right:1px solid $primary;
    width:31%;
}
nav ul{
    margin: 0 !important;
    padding:0 !important;
}
.browse li {
    list-style: none;
    padding:10px;
    margin-right:10px;
}
.browse li h3 {
    margin:0;
}
.browse nav.active{
    background:#ccc;
}
.browse nav, #breadcrumbs {
    text-transform: capitalize;
}

#breadcrumbs li:first-child{
    text-transform: none !important;
}
.browse nav span{
    font-weight: normal;
}

.browse .current-cat {
    background:#ccc;
}
.main-nav h4{
    margin: 0;
}
#servinfo-list-container {
    padding:10px;
}