/*---_____------____IE-----______----___---_____*/

.home #news > div{
    display:block !important;
    float:right !important;
}

.container:after {
  content: "";
  display: table;
  clear: both;
}